tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Aptos Narrow", sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
.style16
	{mso-number-format:0%;
	mso-style-name:Percent;
	mso-style-id:5;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Aptos Narrow", sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	mso-number-format:00;
	text-align:center;
	vertical-align:middle;
	background:#C0E6F5;
	mso-pattern:black none;
	white-space:normal;}
.xl66
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:middle;
	background:#C0E6F5;
	mso-pattern:black none;
	white-space:normal;}
.xl67
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	background:#C0E6F5;
	mso-pattern:black none;
	white-space:normal;}
.xl68
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	background:#C1F0C8;
	mso-pattern:black none;
	white-space:normal;}
.xl69
	{mso-style-parent:style0;
	color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	mso-number-format:Fixed;
	text-align:center;
	vertical-align:middle;
	background:#C1F0C8;
	mso-pattern:black none;
	white-space:normal;}
.xl70
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	mso-number-format:Fixed;
	text-align:center;
	vertical-align:middle;
	background:#C0E6F5;
	mso-pattern:black none;
	white-space:normal;}
.xl71
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	mso-number-format:0;
	text-align:center;
	vertical-align:middle;
	background:#C1F0C8;
	mso-pattern:black none;
	white-space:normal;}
.xl72
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	mso-number-format:Fixed;
	text-align:center;
	vertical-align:middle;
	background:#C1F0C8;
	mso-pattern:black none;
	white-space:normal;}
.xl73
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	mso-number-format:Fixed;
	text-align:center;
	vertical-align:middle;
	background:#F2CEEF;
	mso-pattern:black none;
	white-space:normal;}
.xl74
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	mso-number-format:0;
	text-align:center;
	vertical-align:middle;
	background:#C0E6F5;
	mso-pattern:black none;
	white-space:normal;}
.xl75
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	background:#DAF2D0;
	mso-pattern:black none;
	white-space:normal;}
.xl76
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	background:#F2CEEF;
	mso-pattern:black none;
	white-space:normal;}
.xl77
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	mso-number-format:"0\.0";
	text-align:center;
	vertical-align:middle;
	background:#DAF2D0;
	mso-pattern:black none;
	white-space:normal;}
.xl78
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	mso-number-format:"0\.0";
	text-align:center;
	vertical-align:middle;
	background:#F2CEEF;
	mso-pattern:black none;
	white-space:normal;}
.xl79
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:middle;
	background:#CAEDFB;
	mso-pattern:black none;
	white-space:normal;}
.xl80
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	mso-number-format:"m\/d\/yyyy\;\@";
	text-align:center;
	vertical-align:middle;
	background:#CAEDFB;
	mso-pattern:black none;
	white-space:normal;}
.xl81
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	background:#CAEDFB;
	mso-pattern:black none;
	white-space:normal;}
.xl82
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	vertical-align:middle;
	white-space:normal;}
.xl83
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	vertical-align:middle;
	background:#C0E6F5;
	mso-pattern:black none;}
.xl84
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	background:#C0E6F5;
	mso-pattern:black none;}
.xl85
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:0;
	text-align:center;
	vertical-align:middle;
	background:#C0E6F5;
	mso-pattern:black none;}
.xl86
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	vertical-align:middle;
	background:#DAF2D0;
	mso-pattern:black none;
	white-space:normal;}
.xl87
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:00;
	text-align:center;
	vertical-align:middle;
	background:#C0E6F5;
	mso-pattern:black none;}
.xl88
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:0;
	text-align:center;
	background:#C0E6F5;
	mso-pattern:black none;}
.xl89
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	background:#C0E6F5;
	mso-pattern:black none;
	white-space:normal;}
.xl90
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	vertical-align:middle;
	background:#C0E6F5;
	mso-pattern:black none;
	white-space:normal;}
.xl91
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:Fixed;
	text-align:center;
	vertical-align:middle;
	background:#C1F0C8;
	mso-pattern:black none;
	white-space:normal;}
.xl92
	{mso-style-parent:style0;
	color:windowtext;
	font-size:8.0pt;
	mso-number-format:Fixed;
	text-align:center;
	vertical-align:middle;
	background:#C1F0C8;
	mso-pattern:black none;
	white-space:normal;}
.xl93
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	vertical-align:middle;
	background:#C1F0C8;
	mso-pattern:black none;
	white-space:normal;}
.xl94
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:Fixed;
	text-align:center;
	vertical-align:middle;
	background:#C0E6F5;
	mso-pattern:black none;
	white-space:normal;}
.xl95
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:0;
	text-align:center;
	vertical-align:middle;
	background:#C1F0C8;
	mso-pattern:black none;
	white-space:normal;}
.xl96
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:Fixed;
	text-align:center;
	vertical-align:middle;
	background:#F2CEEF;
	mso-pattern:black none;
	white-space:normal;}
.xl97
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:0;
	text-align:center;
	vertical-align:middle;
	background:#C0E6F5;
	mso-pattern:black none;
	white-space:normal;}
.xl98
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:Fixed;
	text-align:center;
	vertical-align:middle;
	background:#DAF2D0;
	mso-pattern:black none;
	white-space:normal;}
.xl99
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"0\.0";
	text-align:center;
	vertical-align:middle;
	background:#DAF2D0;
	mso-pattern:black none;
	white-space:normal;}
.xl100
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"0\.0";
	text-align:center;
	vertical-align:middle;
	background:#F2CEEF;
	mso-pattern:black none;
	white-space:normal;}
.xl101
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	background:#CAEDFB;
	mso-pattern:black none;}
.xl102
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"m\/d\/yyyy\;\@";
	text-align:center;
	vertical-align:middle;
	background:#CAEDFB;
	mso-pattern:black none;}
.xl103
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"Short Time";
	text-align:center;
	vertical-align:middle;
	background:#CAEDFB;
	mso-pattern:black none;}
.xl104
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	vertical-align:middle;
	background:#CAEDFB;
	mso-pattern:black none;
	white-space:normal;}
.xl105
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	vertical-align:middle;
	background:#CAEDFB;
	mso-pattern:black none;}
.xl106
	{mso-style-parent:style16;
	font-size:8.0pt;
	mso-number-format:Percent;
	text-align:center;
	vertical-align:middle;
	background:#DAF2D0;
	mso-pattern:black none;
	white-space:normal;}
.xl107
	{mso-style-parent:style0;
	font-size:8.0pt;}
.xl108
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:00;
	text-align:center;
	background:#C0E6F5;
	mso-pattern:black none;}
.xl109
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	background:#CAEDFB;
	mso-pattern:black none;}
.xl110
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	background:#CAEDFB;
	mso-pattern:black none;}
.xl111
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"m\/d\/yyyy\;\@";
	text-align:center;
	background:#CAEDFB;
	mso-pattern:black none;}
.xl112
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"Short Time";
	text-align:center;
	background:#CAEDFB;
	mso-pattern:black none;}
.xl113
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	background:#CAEDFB;
	mso-pattern:black none;
	white-space:normal;}
.xl114
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	background:#C0E6F5;
	mso-pattern:black none;}
.xl115
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	background:#C0E6F5;
	mso-pattern:black none;}
.xl116
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:Fixed;
	text-align:center;
	background:#C0E6F5;
	mso-pattern:black none;}
.xl117
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	background:#C1F0C8;
	mso-pattern:black none;}
.xl118
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	background:#DAF2D0;
	mso-pattern:black none;}
.xl119
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:Fixed;
	text-align:center;
	background:#C1F0C8;
	mso-pattern:black none;}
.xl120
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:0;
	text-align:center;
	background:#C1F0C8;
	mso-pattern:black none;}
.xl121
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:Fixed;
	text-align:center;
	background:#F2CEEF;
	mso-pattern:black none;}
.xl122
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	background:#F2CEEF;
	mso-pattern:black none;}
.xl123
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"0\.0";
	text-align:center;
	background:#DAF2D0;
	mso-pattern:black none;}
.xl124
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"0\.0";
	text-align:center;
	background:#F2CEEF;
	mso-pattern:black none;}
.xl125
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"yyyy\\-mm\\-dd\;\@";
	text-align:center;
	background:#CAEDFB;
	mso-pattern:black none;}
